/* Font Styles */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.first-section {
  display: flex;
}

.proudct-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
